<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Remote Product</h3>
<p>
    <a th:href="@{/index}">Product list</a>
</p>
<div id="form">

    <form action="#" th:action="@{/product/delete}" method="post" th:object="${product}" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <h2>DELETE PRODUCT</h2>
        <H2>Are you sure?</H2>
        <div>
            <label>Product: </label>
            <label th:text="${product.name}"></label>
        </div>
        <input type="submit" value="Yes">

    </form>
</div>
&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;
</body>
</html>